<!DOCTYPE html>
<html>
<head>
  <title>GalleryJqueryFileUpload</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="span8"><%= yield %></div>
  </div>
</div>

<div style="border-bottom: 1px black solid; width: 100%; margin-top: 150px"> 
</div>

<p><a href='https://support.anynines.com/home' target='_blank'>Anynines Support</a><p>
<p><a href='http://blog.anynines.com' target='_blank'>Anynines Blog</a><p>	


</body>
</html>
